body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: light;
  margin: 0px;
}
.cp-united-input-nations{
  outline: none;
}
.cp-input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #333;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}
.cp-input:focus{
  outline: none;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 3px hsla(220, 100%, 50%, 0.5);
}
.cpnv-f-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.cp-spreading {
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 5px;
}
.slider-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.slide {
  min-width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cncp07-slider-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.cncp07-product img {
  max-width: 100%;
  height: auto;
}
.cncp07-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.cncp07-slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  overflow: hidden;
  margin-left: 8px;
}
.cncp07-product {
  flex: 0 0 calc(33.333% - 16px);
  max-width: calc(33.333% - 16px);
  box-sizing: border-box;
  overflow: hidden;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cncp07-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: #333;
  cursor: pointer;
  user-select: none;
}
.cncp07-prev {
  left: 0px;
}
.cncp07-next {
  right: 5px;
}
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}
.action-panel {
  color: #D4E2FF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: border 0.3s;
  border: 2px solid transparent;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: -2px;
}
.action-panel:hover {
  border: 2px solid #53BCEC;
}
.purchases-panel {
  background-image: url('https://i.pinimg.com/736x/90/0d/eb/900deb5bca7421ec81936bc02925bd24.jpg');
}

.services-panel {
  background-image: url('https://i.pinimg.com/736x/93/f0/db/93f0dbf6f330c45fa9d9e4e2894a30e5.jpg');
}
.purchases-panel, .services-panel {
  position: relative;
  overflow: hidden;
}
.purchases-panel, .services-panel {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #3D3E92;
}
.action-panel h3, .action-panel .btn {
  margin-top: 1rem;
  color: #D4E2FF;
}
.action-panel .btn {
  background-color: #83D6E8;
  border: none;
  color: white;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}
.action-panel .btn:hover, .action-panel:hover .purchases-panel, .action-panel:hover .services-panel {
  border: 2px solid #069FE4;
  box-sizing: border-box;
  font-weight: bold;
}
.action-panel .btn:hover {
  background-color: #CCEAF0;
  color: #069FE4;
}
.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: auto;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
}
.dot.active {
  background-color: #555;
}
.cpPostSlide-slider-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.cpPostSlide-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.cpPostSlide-slide {
  min-width: 100%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.cpPostSlide-post-card {
  flex: 0 0 calc(33.333% - 10px);
  box-sizing: border-box;
  margin-right: 10px;
  padding: 0px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cpPostSlide-post-card img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.cpPostSlide-post-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 40px;
  text-overflow: ellipsis;
}
.cpPostSlide-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.cpPostSlide-dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.cpPostSlide-dot.active {
  background-color: #333;
}
.article-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.article-image {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.article-content {
  padding: 5px;
  background-color: #f8f8f8;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article-title {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
.article-description {
  margin-bottom: 20px;
  font-size: 12px;
}
.read-more-btn {
  align-self: flex-end;
  padding: 3px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  transition: background-color 0.3s ease-in-out;
}
.read-more-btn:hover {
  background-color: #2980b9;
}
footer {
  background-color: #d4e2ff;
  color: #353372;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top:20px;
}
.footer-copyright {
  background-color: #F1F6FF;
  color: #353372;
  padding: 20px;
  align-items: center;
  text-align: center;
  font-weight: 700;
}
.footer-left, .footer-right {
  flex: 1;
  margin-bottom: 10px;
}
.industry-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.contacts, .address,
.help, .partnership-heading {
  font-size: 20px;
  flex: 1;
}
.partnership-logos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partnership-logo {
  width: 30px;
  height: auto;
  margin-right: 19px;
  margin-bottom: 5px;
  border-radius: 30px;
}
.partnership-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-images {
    display: flex;
    flex-direction: row; 
}
.contact-images img {
    width: 30px; 
    height: auto; 
    margin: 1px;
}
.industry-info {
    display: flex;
    align-items: center;
}
.industry-icon {
    width: 50px; 
    height: auto;
}
.industry-name {
    margin-left: 10px; 
    font-family: 'Super Brigade Condensed', sans-serif; 
    font-size: 18px; 
}
.alamat {
    font-size: 12px;
}
.faq-terms {
    font-size: 12px;
    margin: 0 auto;
}

/* Media queries for responsiveness */
@media (max-width: 576px) {
  .action-panel {
    font-size: 12px;
    }
    .icon {
      width: 20%;
  }
}
@media (max-width: 768px) {
  .action-panel{
    font-size: 14px;
  }
  .icon {
      width: 30%;
    }
  }
@media screen and (max-width: 768px) {
  .cp-navbar .container {
    display: block;
  }
}